@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face{
    font-family: "ALS Gorizont Expanded Regular";
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf);
    src: url(./assets/fonts/gorizont/gorizont-font.eot.ttf), url(./assets/fonts/gorizont/gorizont-font.eot.woff), url(./assets/fonts/gorizont/gorizont-font.eot.woff2);
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #222;
}
.als-gorizont {
    font-family: "ALS Gorizont Expanded Regular";
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
}

.ibm-plex {
    font-family: "IBM Plex Mono", monospace;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

* {
    scrollbar-width: none;
}

.stack-underline {
    position: relative;
    display: inline-block;
    color: #ccc;
}

.stack-underline::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #ff000030;
    z-index: -1;
}

.team-underline {
    position: relative;
    display: inline-block;
    color: #ccc;
}

.team-underline::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #0073ff80;
    z-index: -1;
}

.cat-underline {
    position: relative;
    display: inline-block;
    color: #ccc;
}

.cat-underline::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #ff800080;
    z-index: -1;
}

.surfing-underline {
    position: relative;
    display: inline-block;
    color: #ccc;
}

.surfing-underline::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    height: 14px;
    transform: skew(-12deg) translateX(-50%);
    background: #57b7ee80;
    z-index: -1;
  }